<html>
    <body>
        <table>
            <tr>
                <td style="width: 300px;align=center">
                
                 <a href=$url>
                      CLIQUE AQUI PARA CONFIRMAR A RECUPERAÇÃO DA SUA CONTA,UMA NOVA SENHA SERÁ GERADA PELO SISTEMA
                   </a>
                
                
                </td>
                
            </tr>
            
           
        </table>
        
    </body>
</html>