@charset "utf-8";


header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

.ui-autocomplete-input {
	width: 555px !important;
	height: 66px !important;
	padding-left: 30px !important;
}
.espaco{
	
	padding-left: 30px !important;
	
}

.input-lg{
	padding-left: 30px !important;
	
	
}

.botaologin {
	width: 342px !important;
	height: 58px !important;
}

/* Menu sistema fim */